body {
    font-size: 16px;
}
aside {
    float: left;
    width:34%;
    background-color: #ccc;
    padding: 10px;
}

section {
    float: right;
    width: 60%
}

.head{
    text-align:center;
}

.name {
    text-align:center;
    color: #0099cc
}

.head  img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.record {
    text-align:center;
}

.left-section {
    
}
.left-item {
    margin-bottom: 5px;
    line-height: 30px;
}

.left-header{
    border: 1px solid #0099cc;
    text-align: center;
    line-height: 20px;
    /* font-size: 20px; */
    color:#0099cc;
    padding: 10px;
}

.right-header{
    background-color: #0099cc;
    color:#fff;
    border-radius: 0px 15px 15px 0px;
    font-size: 20px;
    padding: 10px 50px 10px 10px;
    margin: 0px 100px 20px 0px;
}

.intro {
    margin-bottom: 20px;
}
.icon{
    width: 1.8em;
    height: 1.8em;
    float: left;
}

.progress{
    float: right;
    width: 70%;
    line-height: 10px;
    font-size: 10px;
    padding: 4px 0;
}
.progress .bar{
    background-color: #0099cc;
    color: #0099cc;
}